<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>
<h2><%=cookies[:curso] %></h2>
<h2><%=session[:curso] %></h2>

<%= link_to "Nova Moeda", new_coin_path %>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <strong><%= link_to t('links.show'), coin %></strong>
    </p>
  <% end %>
</div>


