<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('links.edit'), edit_coin_path(@coin) %> |
  <%= link_to t('links.back'), coins_path %> |

  <%= link_to t('links.delete'), @coin, method: :delete, data: {confirm: 'Tem certeza?'} %>
</div>
